In [460]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [461]:
house_df = pd.read_csv("D:\Machine Learning\Data\Bengaluru_House_Data.csv")

In [462]:
house_df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [463]:
house_df.shape

(13320, 9)

In [464]:
house_df.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [465]:
house_df['area_type'].value_counts()

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64

In [466]:
house_df.loc[house_df['area_type']=='Carpet  Area']

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
297,Carpet Area,Ready To Move,Maruthi Sevanagar,2 BHK,SMikaay,950,2.0,2.0,47.0
340,Carpet Area,Ready To Move,Muneshwara Nagar,2 BHK,NaN,1230,2.0,3.0,48.0
352,Carpet Area,Ready To Move,Sampigehalli,3 BHK,Puens G,1592,3.0,2.0,75.0
594,Carpet Area,Ready To Move,Sanjay nagar,2 BHK,NaN,1100,2.0,2.0,98.0
622,Carpet Area,Ready To Move,Bannerghatta Road,3 BHK,NaN,1445,3.0,2.0,95.0
...,...,...,...,...,...,...,...,...,...
13006,Carpet Area,Ready To Move,Kereguddadahalli,3 BHK,Jaood G,1280,3.0,1.0,42.0
13183,Carpet Area,Ready To Move,Shivaji Nagar,2 BHK,NaN,600,1.0,1.0,65.0
13214,Carpet Area,Ready To Move,Bannerghatta Road,3 BHK,Vemit S,1470,2.0,1.0,85.0
13238,Carpet Area,19-Jan,Hennur Bande,2 BHK,NaN,1200,2.0,3.0,70.0
13305,Carpet Area,Ready To Move,Hulimavu,1 BHK,NaN,500,1.0,3.0,220.0

In [467]:
house_df.groupby('area_type')['area_type'].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [468]:
house_df.availability.unique()

array(['19-Dec', 'Ready To Move', '18-May', '18-Feb', '18-Nov', '20-Dec',
       '17-Oct', '21-Dec', '19-Sep', '20-Sep', '18-Mar', '20-Feb',
       '18-Apr', '20-Aug', '18-Oct', '19-Mar', '17-Sep', '18-Dec',
       '17-Aug', '19-Apr', '18-Jun', '22-Dec', '22-Jan', '18-Aug',
       '19-Jan', '17-Jul', '18-Jul', '21-Jun', '20-May', '19-Aug',
       '18-Sep', '17-May', '17-Jun', '21-May', '18-Jan', '20-Mar',
       '17-Dec', '16-Mar', '19-Jun', '22-Jun', '19-Jul', '21-Feb',
       'Immediate Possession', '19-May', '17-Nov', '20-Oct', '20-Jun',
       '19-Feb', '21-Oct', '21-Jan', '17-Mar', '17-Apr', '22-May',
       '19-Oct', '21-Jul', '21-Nov', '21-Mar', '16-Dec', '22-Mar',
       '20-Jan', '21-Sep', '21-Aug', '14-Nov', '19-Nov', '15-Nov',
       '16-Jul', '15-Jun', '17-Feb', '20-Nov', '20-Jul', '16-Sep',
       '15-Oct', '15-Dec', '16-Oct', '22-Nov', '15-Aug', '17-Jan',
       '16-Nov', '20-Apr', '16-Jan', '14-Jul'], dtype=object)

house_df['size'].unique()

In [469]:
house_df['area_type'].value_counts().sort_values()

Carpet  Area              87
Plot  Area              2025
Built-up  Area          2418
Super built-up  Area    8790
Name: area_type, dtype: int64

In [470]:
house_df.groupby('area_type')['area_type'].agg('count').sort_values()

area_type
Carpet  Area              87
Plot  Area              2025
Built-up  Area          2418
Super built-up  Area    8790
Name: area_type, dtype: int64

In [471]:
house_df.total_sqft.head(500)

0      1056
1      2600
2      1440
3      1521
4      1200
       ...
495    1000
496    1035
497     950
498    1075
499    1040
Name: total_sqft, Length: 500, dtype: object

In [472]:
features = ['location', 'size', 'society', 'total_sqft', 'bath', 'balcony', 'price']

house_df_ft = house_df[features].copy()

In [473]:
house_df_ft.head()

,location,size,society,total_sqft,bath,balcony,price
0,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [474]:
house_df_ft.isnull().sum()

location         1
size            16
society       5502
total_sqft       0
bath            73
balcony        609
price            0
dtype: int64

In [475]:
def society_mod(s):
    if s is np.nan:
        return 'N'
    else:
        return 'Y'

def balcony_mod(s):
    if s is np.nan:
        return '0'
    else:
        return s

In [476]:
house_df_ft['society_mod'] = house_df_ft['society'].apply(society_mod)

In [477]:
house_df_ft['balcony_mod'] =house_df_ft['balcony'].fillna(0)

In [478]:
#house_df_ft['balcony_mod'] = house_df_ft['balcony'].apply(balcony_mod)

In [479]:
house_df_ft.sample(10)

,location,size,society,total_sqft,bath,balcony,price,society_mod,balcony_mod
7907,Sahakara Nagar,2 BHK,Mosom B,1175,2.0,3.0,49.0,Y,3.0
9141,JP Nagar,2 BHK,AnnceEl,1150,2.0,2.0,90.0,Y,2.0
6781,Malleshwaram,4 Bedroom,NaN,4000,4.0,2.0,1100.0,N,2.0
5943,Sarjapur Road,5 BHK,Maana E,3930,7.0,NaN,329.0,Y,0.0
1048,Lakshmi Layout,9 Bedroom,NaN,900,10.0,NaN,170.0,N,0.0
3254,Akshaya Nagar,2 BHK,NaN,1280,2.0,1.0,60.0,N,1.0
12347,Kumbalgodu,4 Bedroom,NaN,3750,4.0,NaN,190.0,N,0.0
10759,Harlur,4 BHK,Prncyrn,2569,4.0,1.0,175.0,Y,1.0
2290,Begur Road,2 BHK,NaN,1200,2.0,2.0,37.8,N,2.0
10781,Thanisandra,1 BHK,Bhmesy,933,1.0,1.0,61.0,Y,1.0

In [480]:
type(house_df_ft.iloc[1097].balcony)

numpy.float64

In [481]:
n_ft = ['location', 'size', 'society_mod', 'total_sqft', 'bath', 'balcony_mod', 'price']

In [482]:
house_df_ft2 = house_df_ft[n_ft].copy()

In [483]:
house_df_ft2.head()
#house_df_ft2.shape

,location,size,society_mod,total_sqft,bath,balcony_mod,price
0,Electronic City Phase II,2 BHK,Y,1056,2.0,1.0,39.07
1,Chikka Tirupathi,4 Bedroom,Y,2600,5.0,3.0,120.00
2,Uttarahalli,3 BHK,N,1440,2.0,3.0,62.00
3,Lingadheeranahalli,3 BHK,Y,1521,3.0,1.0,95.00
4,Kothanur,2 BHK,N,1200,2.0,1.0,51.00

In [484]:
house_df_ft2.isnull().sum()

location        1
size           16
society_mod     0
total_sqft      0
bath           73
balcony_mod     0
price           0
dtype: int64

In [485]:
house_df_ft2.dropna(inplace=True)

In [486]:
house_df_ft2.head()

,location,size,society_mod,total_sqft,bath,balcony_mod,price
0,Electronic City Phase II,2 BHK,Y,1056,2.0,1.0,39.07
1,Chikka Tirupathi,4 Bedroom,Y,2600,5.0,3.0,120.00
2,Uttarahalli,3 BHK,N,1440,2.0,3.0,62.00
3,Lingadheeranahalli,3 BHK,Y,1521,3.0,1.0,95.00
4,Kothanur,2 BHK,N,1200,2.0,1.0,51.00

In [487]:
house_df_ft2['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [488]:
def is_fl(x):
    try:
        float(x)
    except:
        return False
    return True

In [489]:
house_df_ft2[~house_df_ft2['total_sqft'].apply(is_fl)]['total_sqft'].value_counts()

2830 - 2882        5
3630 - 3800        3
142.61Sq. Meter    2
1255 - 1350        2
2580 - 2591        2
                  ..
888 - 1290         1
660 - 700          1
385 - 440          1
770 - 841          1
1133 - 1384        1
Name: total_sqft, Length: 173, dtype: int64

In [490]:
def area_size(x):
    tok = x.split('-')
    if len(tok)==2:
        return((float(tok[0])+float(tok[1]))/2)
    try:
        return float(x)
    except:
        return None

In [491]:
house_df_ft2['total_area'] = house_df_ft2['total_sqft'].apply(area_size)

In [492]:
house_df_ft2.head()

,location,size,society_mod,total_sqft,bath,balcony_mod,price,total_area
0,Electronic City Phase II,2 BHK,Y,1056,2.0,1.0,39.07,1056.0
1,Chikka Tirupathi,4 Bedroom,Y,2600,5.0,3.0,120.00,2600.0
2,Uttarahalli,3 BHK,N,1440,2.0,3.0,62.00,1440.0
3,Lingadheeranahalli,3 BHK,Y,1521,3.0,1.0,95.00,1521.0
4,Kothanur,2 BHK,N,1200,2.0,1.0,51.00,1200.0

In [493]:
house_df_ft2['bhk'] = house_df_ft2['size'].apply(lambda x: int(x.split(' ')[0]))

In [494]:
features = ['location', 'bhk', 'society_mod', 'total_area', 'bath', 'balcony_mod', 'price']

X = house_df_ft2[features]

In [495]:
X.head()

,location,bhk,society_mod,total_area,bath,balcony_mod,price
0,Electronic City Phase II,2,Y,1056.0,2.0,1.0,39.07
1,Chikka Tirupathi,4,Y,2600.0,5.0,3.0,120.00
2,Uttarahalli,3,N,1440.0,2.0,3.0,62.00
3,Lingadheeranahalli,3,Y,1521.0,3.0,1.0,95.00
4,Kothanur,2,N,1200.0,2.0,1.0,51.00

In [496]:
X.isnull().sum()

location        0
bhk             0
society_mod     0
total_area     46
bath            0
balcony_mod     0
price           0
dtype: int64

In [497]:
#X[X['total_area'].isna()]

X_fin = X.dropna()

In [498]:
X = X.drop('price', axis=1)

In [499]:
y = X_fin['price']

In [500]:
X_fin.head()
#X_fin.shape

,location,bhk,society_mod,total_area,bath,balcony_mod,price
0,Electronic City Phase II,2,Y,1056.0,2.0,1.0,39.07
1,Chikka Tirupathi,4,Y,2600.0,5.0,3.0,120.00
2,Uttarahalli,3,N,1440.0,2.0,3.0,62.00
3,Lingadheeranahalli,3,Y,1521.0,3.0,1.0,95.00
4,Kothanur,2,N,1200.0,2.0,1.0,51.00

In [501]:
y.head()
y.shape

(13200,)

In [502]:
from sklearn.preprocessing import LabelEncoder

In [503]:
le =LabelEncoder()

In [504]:
X_fin['location'] = X_fin['location'].apply(lambda X: X.strip())
X_fin['loca'] = le.fit_transform(X_fin['location']) 
X_fin['society_mod'] = le.fit_transform(X_fin['society_mod'])

In [505]:
X_fin.head()
X_fin2 = X_fin.loc[:,['loca', 'bhk', 'society_mod', 'total_area', 'bath', 'balcony_mod']]

In [506]:
#X_fin2.loc.unique

In [507]:
from sklearn.preprocessing import StandardScaler

In [594]:
#ss = StandardScaler()

X_scl = X_fin2.copy()

In [595]:
X_scl

       loca  bhk  society_mod  total_area  bath  balcony_mod
0       402    2            1      1056.0   2.0          1.0
1       300    4            1      2600.0   5.0          3.0
2      1160    3            0      1440.0   2.0          3.0
3       739    3            1      1521.0   3.0          1.0
4       698    2            0      1200.0   2.0          1.0
...     ...  ...          ...         ...   ...          ...
13315  1233    5            1      3453.0   4.0          0.0
13316   985    4            0      3600.0   5.0          0.0
13317   953    2            1      1141.0   2.0          1.0
13318   888    4            1      4689.0   4.0          1.0
13319   379    1            0       550.0   1.0          1.0

[13200 rows x 6 columns]

In [596]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scl, y, test_size=0.2, random_state=42)

In [597]:
X_train.shape

(10560, 6)

In [598]:
X_test.shape

(2640, 6)

In [599]:
from sklearn.ensemble import RandomForestRegressor

In [600]:
rfr = RandomForestRegressor(n_estimators=250, max_depth=10, random_state=42)

In [601]:
rfr.fit(X_train, y_train)

RandomForestRegressor(max_depth=10, n_estimators=250, random_state=42)

In [602]:
from sklearn.svm import SVR

svr = SVR()

svr.fit(X_train, y_train)

SVR()

In [603]:
svr.score(X_test, y_test)

0.337477552647125

In [604]:
rfr.score(X_test, y_test)

0.5521751708697529

In [634]:
X_fin[X_fin['location']=='Lingadheeranahalli']

,location,bhk,society_mod,total_area,bath,balcony_mod,price,loca
3,Lingadheeranahalli,3,1,1521.0,3.0,1.0,95.00,739
501,Lingadheeranahalli,3,1,1511.0,3.0,1.0,95.00,739
687,Lingadheeranahalli,3,1,1683.0,3.0,1.0,109.00,739
1375,Lingadheeranahalli,3,1,1519.0,3.0,1.0,93.00,739
2008,Lingadheeranahalli,3,1,1521.0,3.0,1.0,94.99,739
2204,Lingadheeranahalli,3,1,1687.0,3.0,3.0,127.00,739
2281,Lingadheeranahalli,3,1,1893.0,3.0,2.0,140.00,739
3411,Lingadheeranahalli,3,1,1530.0,2.0,2.0,90.00,739
3729,Lingadheeranahalli,3,1,1682.0,3.0,1.0,120.00,739
3748,Lingadheeranahalli,3,1,1521.0,3.0,1.0,94.71,739
4561,Lingadheeranahalli,3,1,1893.0,3.0,1.0,130.00,739
4864,Lingadheeranahalli,3,1,1705.0,3.0,1.0,110.00,739
6154,Lingadheeranahalli,4,1,2245.0,4.0,2.0,154.00,739
6455,Lingadheeranahalli,3,1,1682.0,3.0,1.0,113.00,739
6648,Lingadheeranahalli,3,1,1682.0,3.0,1.0,114.00,739
8628,Lingadheeranahalli,3,1,1506.0,3.0,1.0,95.00,739
8858,Lingadheeranahalli,3,1,1683.0,3.0,1.0,140.00,739
9241,Lingadheeranahalli,3,1,1683.0,3.0,1.0,110.00,739
11891,Lingadheeranahalli,3,1,1684.0,3.0,1.0,120.00,739
12150,Lingadheeranahalli,4,1,2236.0,4.0,2.0,153.00,739
12450,Lingadheeranahalli,3,1,1894.0,4.0,1.0,114.00,739
12493,Lingadheeranahalli,4,1,2240.0,4.0,2.0,160.00,739
12675,Lingadheeranahalli,3,1,1768.0,3.0,3.0,81.31,739

In [646]:
def prediction_res2(pred):
    
    x = []
    location=X_fin['loca'].loc[X_fin[X_fin['location']=='Lingadheeranahalli'].first_valid_index()]
    soc = (lambda x: 1 if x=='Y' else 0)
    
    
        
    def check(i, c):
        if (c==0):
            return location
        elif (c==2):
            return soc(pred[c])
        else:
            return i
        
    d=0
    for i in pred:
        x.append(check(i,d))
        d+=1       
    
    #print(list(X_scl.columns))
    x2 = pd.DataFrame([x], columns=list(X_scl.columns))
    
    
    #print(x2)
    return rfr.predict(x2)

In [647]:
x=prediction_res2(['Lingadheeranahalli', 3, 'Y', 1500, 4, 1])[0]
x

141.82634608218885

In [623]:
import json

columns = {
    'location_names' : [x for x in X_fin['location']],
    'loc_id' : [x for x in X_fin['loca']]
}

with open("columns.json", "w") as f:
    f.write(json.dumps(columns))

In [624]:
import pickle
with open('bangalore_home_prices.pickle', 'wb') as f:
    pickle.dump(rfr, f)

In [625]:
X_fin.head()

,location,bhk,society_mod,total_area,bath,balcony_mod,price,loca
0,Electronic City Phase II,2,1,1056.0,2.0,1.0,39.07,402
1,Chikka Tirupathi,4,1,2600.0,5.0,3.0,120.00,300
2,Uttarahalli,3,0,1440.0,2.0,3.0,62.00,1160
3,Lingadheeranahalli,3,1,1521.0,3.0,1.0,95.00,739
4,Kothanur,2,0,1200.0,2.0,1.0,51.00,698

In [649]:
X_scl.balcony_mod.unique()

array([1., 3., 0., 2.])

In [648]:
a = 'name'
b=2
c='dd'
e=4

x = [a, b, c, e]
x

['name', 2, 'dd', 4]